 .u-section-1 {
  background-image: linear-gradient(white, #999999);
}

.u-section-1 .u-sheet-1 {
  min-height: 1351px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-1 .u-image-1 {
  width: 260px;
  height: 325px;
  margin: 73px auto 0 104px;
}

.u-section-1 .u-group-1 {
  width: 1095px;
  min-height: 404px;
  height: auto;
  border-style: double;
  margin: -364px 13px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0 76px 0 397px;
}

.u-section-1 .u-group-2 {
  min-height: 214px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 230px;
  margin: 76px auto 0 267px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 34px auto 0;
  padding: 13px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 500;
  margin: 18px 22px 0;
}

.u-section-1 .u-group-3 {
  min-height: 214px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 230px;
  margin: -214px 254px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 34px auto 0;
  padding: 9px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 500;
  margin: 18px 22px 0;
}

.u-section-1 .u-group-4 {
  min-height: 214px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 230px;
  margin: 54px auto 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 11px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 34px auto 0;
  padding: 13px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 18px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 318px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 110px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 110px;
  }
}