 .u-section-1 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-1 .u-list-1 {
  margin-top: 167px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 758px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 147px;
  width: 147px;
  margin: 62px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  font-size: 2.1875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(41,51,50,0.8), rgba(41,51,50,0.8)), url("images/bf5831c7-be61-2575-6483-f38c1ca09a87.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 147px;
  width: 147px;
  margin: 62px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 3px;
  font-size: 2.1875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 147px;
  width: 147px;
  margin: 62px auto 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 147px;
  width: 147px;
  margin: 62px auto 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 147px;
  width: 147px;
  margin: 62px auto 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(41,51,50,0.8), rgba(41,51,50,0.8)), url("images/wewe.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 147px;
  width: 147px;
  margin: 62px auto 0;
  padding: 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 62px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 624px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -42px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -4px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 5px;
  }

  .u-section-1 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -4px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 5px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -4px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 5px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -4px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1097px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: -11px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1px;
    margin-bottom: -11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -11px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: -11px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-bottom: -11px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-bottom: -11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 12px;
  }
}